.container {
    font-size: 25px;
}

.house__image {
    width: '700px';
    height: '500px';
}

h1 {
    text-align: center;
    font-size: large;
}

h2 {
    text-align: center;
    font-size: large;
}