.container {
    font-size: 25px;
}

.house__image {
    width: '700px';
    height: '500px';
}

h1 {
    text-align: center;
    font-size: large;
}

h2 {
    text-align: center;
    font-size: large;
}

body {
    display: flex;
    flex-direction: row;
        justify-content: center;
}


img {
    height: 300px;
    width: 400px
}